#header {
    display: flex;
    align-items: center;
    background-color: #231D9B;
    z-index: 2;
    height: 60px;
    width: 100vw;
    box-shadow: 0 5px 5px rgb(207, 203, 203);
}

#header .logo {
    margin: 0 0 0 30px;
    height: 35px;
    color: black;
    cursor: pointer;
}

#header .tital {
    margin-left: 30px;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}